@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Jost&family=Poppins&family=Roboto&family=Ubuntu&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}
html{
    font-size: 62.5%; /*Equivalent to 10px (By default:- 16px)*/
}
.main_div{
    height: 100vh;
    width: 100vw;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*1rem = 10px*/
.music_container {
    width: 35rem;
    height: 55rem;
    background-color: #ffff;
    border-radius: 2rem;
    box-shadow: 1px 1px 30px 5px rgba(0, 0, 0, 0.2);
    padding: 3rem;
    text-align: center;
}

.music_container #title {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    word-spacing: 0.5rem;
    color: #171717;
    margin: 2rem 0 0.5rem 0;
    font-size: 2.5rem;
    font-weight: 500;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
}

.music_container #artist {
    color: #cccaca;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    font-size: 2rem;
    margin-bottom: 4rem ;
    font-weight: 300;
}
.img_container {
    width: 25rem;
    height: 25rem;
    margin: auto;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.3);
}
.music_controls{
    /* width: 20rem; */
    margin-top: 5rem;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.music_controls .icons {
    color: #111111;
    font-size: 2rem;
    cursor: pointer;
    filter: drop-shadow(1px 1px 10px 2px rgba(0, 0, 0, 0.5));
}
.music_controls .icons:hover {
   color: grey;
}

.music_controls .main-button {
    /* border: 2px solid red; */
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    font-size: 1.4rem;
    color: #f6f6f6;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .1s ease;
}
.music_controls .main-button:hover {
    background-color: #f6f6f6;
    color: #111;
    box-shadow: 0 1rem 2rem 0.2rem rgba(0, 0, 0, 0.4);
}
/* adding anime class to animate*/
.anime {
    animation: rotatePlayer 3s linear infinite ;
}

@keyframes rotatePlayer {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}